<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
      <h1>Welcome to my channel</h1>
      {{!-- <img src="https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?cs=srgb&dl=pexels-lisa-fotios-1083822.jpg&fm=jpg" alt="img"> --}}
      
</body>
</html>
